.btn-social {
  display: inline-block;
  vertical-align: top;
  background-color: @color-blue;
  border: none;
  outline: none;
  margin-bottom: 40px;
width: 45px;
height: 45px;
  &__twitter {
    background: @color-blue url("../img/icon-twitter.svg")no-repeat center;
}
  &__facebook {
    background: @color-blue url("../img/icon-facebook.svg")no-repeat center;
}
  &__youtube {
    background: @color-blue url("../img/icon-youtube.svg")no-repeat center;
}
&:hover {
  background-color: #669ec0;
}
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 15px 15px;
    color: #fff;
    background-color: @color-blue;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    width: 60%;
    cursor: pointer;
    margin-bottom: 30px;
    &:hover {
      background-color: #669ec0;
    }
}
